.ant-card-body .contracted {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  padding-top: 1.5rem;
}

.ant-card-body .expanded {
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  padding-top: 1.5rem;
}

.ant-card-body {
  width: 100% !important;

  background: linear-gradient(180deg, #7d80b8 0%, #9dbed1 100%), #ffffff;
  box-shadow: 7px 7px 15px rgba(96, 96, 96, 0.25);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ant-card {
  border-radius: 20px;
}
.ant-card-meta-description {
  color: white !important;
  font-weight: bold;
}
