.container-centered {
  height: 100vh;
  display: flex;
  font-family: "M PLUS Rounded 1c", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-centered h1 {
  font-weight: bolder;
  color: #2f4f75;
  font-size: 9rem;
}

.container-centered h3 {
  font-weight: bold;
  color: #2f4f75;
  font-size: 3rem;
}

.container-centered p {
  font-weight: light;
  color: black;
}

.home {
  align-items: flex-start;
  justify-content: left;
  padding-left: 6rem !important;
  padding-top: 6rem !important;
  background-position: right;
  background-size: cover;
}
.home h1 {
  text-align: left;
}
.home p {
  text-align: left;
  font-size: 2rem;
}

.home .ant-btn {
  margin-left: none;
  margin-right: 5rem;
}

.login {
  background-position: right;
  background-size: cover;
}
.login p {
  font-size: 1.5rem !important;
  color: #8f8f8f;
}
.signup {
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
}

.signup p {
  color: #8f8f8f;
  font-size: 1.5rem;
}

.signup h3 {
  font-size: 4rem;
  color: #2f4f75;
  padding: 3rem;
}

.signup ::placeholder {
  color: gray;
  font-size: 1.5rem;
  font-weight: lighter;
}
